@page "/customer-management/edit/{id:guid}"
@using VivesRental.Sdk
@using VivesRental.Services.Model.Requests
@inject CustomerSdk CustomerSdk
@inject NavigationManager Navigation
@inject HttpClient Http

<PageTitle>Edit Customer</PageTitle>

<h1 class="text-center dark-red">Edit Customer</h1>

<div class="container mt-4">
    <EditForm Model="@editCustomer" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="mb-3">
            <label for="firstName" class="form-label">First Name</label>
            <InputText id="firstName" class="form-control" @bind-Value="editCustomer.FirstName" />
        </div>

        <div class="mb-3">
            <label for="lastName" class="form-label">Last Name</label>
            <InputText id="lastName" class="form-control" @bind-Value="editCustomer.LastName" />
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <InputText id="email" class="form-control" @bind-Value="editCustomer.Email" />
        </div>

        <div class="mb-3">
            <label for="phoneNumber" class="form-label">Phone Number</label>
            <InputText id="phoneNumber" class="form-control" @bind-Value="editCustomer.PhoneNumber" />
        </div>

        <button type="submit" class="btn dark-red-btn text-white">Submit</button>
    </EditForm>
</div>

@code {
    [Parameter] public Guid Id { get; set; }
    private CustomerRequest editCustomer = new CustomerRequest();

    protected override async Task OnInitializedAsync()
    {
        var result = await CustomerSdk.Get(Id);
        if (result != null)
        {
            editCustomer = new CustomerRequest
                {
                    FirstName = result.FirstName,
                    LastName = result.LastName,
                    Email = result.Email,
                    PhoneNumber = result.PhoneNumber
                };
        }

        await base.OnInitializedAsync();
    }

    private async Task HandleValidSubmit()
    {
        var result = await CustomerSdk.Edit(Id, editCustomer);
        if (result != null)
        {
            Navigation.NavigateTo("/customer-management");
        }
        else
        {
            // Handle error
        }
    }
}


































