@page "/article-management"
@using VivesRental.Sdk
@using VivesRental.Services.Model.Results
@inject ArticleSdk ArticleSdk

<PageTitle>Article Management</PageTitle>

<h1 class="text-center dark-red">Article Management</h1>

<a class="btn dark-red-btn text-white mb-3" href="/article-management/create">Add Article</a>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Product ID</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var article in Articles)
    {
        <tr>
            <td>@article.ProductId</td>
            <td>@article.Status</td>
            <td>
                <a class="btn btn-sm btn-primary" href="/article-management/edit/@article.Id">Edit</a>
            </td>
        </tr>
    }
    </tbody>
</table>

@code {
    private IList<ArticleResult> Articles { get; set; } = new List<ArticleResult>();

    protected override async Task OnInitializedAsync()
    {
        var result = await ArticleSdk.Find(null);
        if (result != null)
        {
            Articles = result;
        }

        await base.OnInitializedAsync();
    }
}




























