@using VivesRental.Blazor.Shared
@using Microsoft.AspNetCore.Authorization

@inject NavigationManager NavigationManager

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <p>Page not found</p>
    </NotFound>
</Router>

























