@page "/"
@page "/dashboard"

<h1 class="text-center dark-red">Dashboard</h1>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body d-flex flex-column justify-content-center align-items-center">
                    <h5 class="card-title dark-red text-center">Article Management</h5>
                    <p class="card-text text-center">Manage all articles and products.</p>
                    <a href="/article-management" class="btn dark-red-btn text-white">Go to Article Management</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body d-flex flex-column justify-content-center align-items-center">
                    <h5 class="card-title dark-red text-center">Rental Information</h5>
                    <p class="card-text text-center">View all rental orders and information.</p>
                    <a href="/rental-info" class="btn dark-red-btn text-white">Go to Rental Information</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body d-flex flex-column justify-content-center align-items-center">
                    <h5 class="card-title dark-red text-center">New Rental Order</h5>
                    <p class="card-text text-center">Start a new rental order.</p>
                    <a href="/new-rental-order" class="btn dark-red-btn text-white">Start New Rental Order</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body d-flex flex-column justify-content-center align-items-center">
                    <h5 class="card-title dark-red text-center">Return Order</h5>
                    <p class="card-text text-center">Accept rented articles from a customer.</p>
                    <a href="/return-order" class="btn dark-red-btn text-white">Return Order</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body d-flex flex-column justify-content-center align-items-center">
                    <h5 class="card-title dark-red text-center">Customer Management</h5>
                    <p class="card-text text-center">Manage customers and their information.</p>
                    <a href="/customer-management" class="btn dark-red-btn text-white">Go to Customer Management</a>
                </div>
            </div>
        </div>
    </div>
</div>








